{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}

    {%- block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
    
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block footer %}
    {%- endblock footer %}

    {% block scripts %}
    <!-- Bootstrap JS -->
    {{ bootstrap.load_js() }}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
